header{
  height: 100px;
  background-image: url(/img/pattern.png);
  background-color: #4d9ffc;
  background-size: auto 200%;
  background-repeat: repeat;
}
header .logo {
  width: 190px;
} 
body{
  margin: 0;
}
h1{
  font-size: 50px;
}
p.author{
  font-size: 30px;
  color: grey;
}
span.author{
  color: #1dabe4;
}
p.date{
  font-size: 20px;
  color: grey;
}

p.caption{
  font-size: 10px;
}

span.highlight{
  background-color: yellow;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  background-color: #1dabe4;
  color: white; 
  width: 25%;
}

tr.even {
  background-color: #b1e6f2;
}

